process {
    publishDir = {"./results_set_conversion/$sid/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

params {

  //**Output directory**//
  output_dir=false
}

if(params.output_dir) {
    process.publishDir = {"$params.output_dir/$sid/$task.process"}
}

singularity.autoMounts = true

profiles {
    macos {
            process.scratch="/tmp"
    }
}
